<div>Hello world</div>
<!-- <app-test [parentData]="name" (childEvent)="handleChildEvent($event)"></app-test>
<app-employee-list></app-employee-list> -->
<nav>
  <a routerLink="/employees" routerLinkActive="active" >Employees</a>
  <a routerLink="/tests" routerLinkActive="active" >Tests</a>
</nav>
<!-- <router-outlet></router-outlet> -->
<hr>

<!-- <br>
<br>
<div class="col-4 container-fluid">
  <h1>Bootcamp Enrollment Form</h1>
  <form #userForm="ngForm" novalidate (ngSubmit)="onSubmit()">
    {{userForm.value | json}}
    <hr>
    {{userModel | json}}
    <div class="form-group">
      <label for="">Name</label>
      <input [(ngModel)]="userModel.name" required type="text" name="name" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Phone</label>
      <input [(ngModel)]="userModel.phone" type="tel" name="phone" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Choose</label>
      <select required #choose="ngModel" [class.is-invalid]="choose.invalid && choose.touched" [(ngModel)]="userModel.choose" name="choose" id="" class="custom-select">
        <option value="">I am interested in</option>
        <option *ngFor="let topic of topics">{{topic}}</option>
      </select>
      <small class="text-danger" [class.d-none]="choose.valid || choose.untouched">Please choose a topic</small>
    </div>
    <div class="mb-3">
      <label for="">Time preference</label>
      <div class="form-check">
        <input [(ngModel)]="userModel.timePreference" type="radio" class="form-check-input" name="timePreference" value="morning">
        <label for="" class="form-check-label">Morning (9AM - 12PM)</label>
      </div>
      <div class="form-check">
        <input [(ngModel)]="userModel.timePreference" type="radio" class="form-check-input" name="timePreference" value="evening">
        <label for="" class="form-check-label">Evening (5PM - 8PM)</label>
      </div>
      <div class="form-check mb-3">
        <input [(ngModel)]="userModel.check" type="checkbox" name="check" class="form-check-input">
        <label for="" class="form-check-label">Send me promotinal offers</label>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div> -->
<!-- Day 14: ng-template & ng-container -->
<p>
  Start editing to see some magic happen :)
</p>
<div class="card mx-4">
  <div class="card-header">
    You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container>
     items.
  </div>
  <div class="card-body">
    There are <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items was selected.
  </div>
  <div class="card-footer">
    You have selected <ng-container [ngTemplateOutlet]="counterTmpl"></ng-container> items.
  </div>
</div>

<ng-template #counterTmpl>
  <span class="badge badge-primary">{{counter}}</span>
</ng-template>
<hr>

<ng-template #linkTemplate let-l="link">
  <h4>{{l}}</h4>
</ng-template>

<app-tabs [tabs]="topics" [linkTemplate]="linkTemplate"></app-tabs>

<!-- child -->
<!-- @Input() tabs: string[];
@Input() linkTemplate: TemplateRef<any>; -->
<!-- <ul class="nav nav-tabs my-4 mx-4">
  <li class="nav-item" *ngFor="let item of tabs">
    <a href="#" class="nav-link">
      <ng-container *ngIf="linkTemplate; else noTemplate">
        <ng-container  [ngTemplateOutlet]="linkTemplate"
                      [ngTemplateOutletContext]="{link: item}"
        ></ng-container>
      </ng-container>
      <ng-template #noTemplate>
        {{item}}
      </ng-template>
    </a>
  </li>
</ul> -->
